### Importing FEMA disaster code data

In [1]:
import pandas as pd
import requests

Below is the API URL provided by FEMA that lists disasters. Used a dummy header and pulled in the data using the requests.get method. Check the status code that it was successfull (should be 200).

In [8]:
url = 'https://www.fema.gov/api/open/v1/DisasterDeclarationsSummaries'
headers = {'User-agent': 'UserB 1.27'}
api = requests.get(url, headers=headers)
api.status_code

Convert the data into json type and look at the keys.

In [12]:
dj = api.json()
sorted(dj.keys())

Convert the json data under 'Disaster Declarations Summaries' into a pandas dataframe.

In [14]:
df = pd.DataFrame(dj['DisasterDeclarationsSummaries'])

By using '?$skip=xxxx' you can loop through each 'page' of the api to retrieve all of the values. 1000 is the max number of entries you can retrieve per page.

In [15]:
var = 1000
for x in range(1000):
    url = f'https://www.fema.gov/api/open/v1/DisasterDeclarationsSummaries?$skip={var}'
    try:
        api = requests.get(url, headers={'User-agent': 'UserB 1.27'})
        json = api.json()
        df_temp = pd.DataFrame(json['DisasterDeclarationsSummaries'])
        df = pd.concat([df, df_temp], axis=0)
    except:
        print(f'failed{x}')

    var = var + 1000

Check the number of rows and if there are any duplicates.

In [16]:
df.shape

(50796, 19)

In [17]:
df.duplicated().sum()

0

Export the dataframe to a csv file.

In [19]:
df.to_csv('./disaster_code_api.csv', index=False)

In [20]:
df.head()

,declarationDate,declaredCountyArea,disasterCloseOutDate,disasterNumber,disasterType,fyDeclared,hash,hmProgramDeclared,iaProgramDeclared,id,ihProgramDeclared,incidentBeginDate,incidentEndDate,incidentType,lastRefresh,paProgramDeclared,placeCode,state,title
0,1953-05-02T00:00:00.000Z,,1954-06-01T00:00:00.000Z,1,DR,1953,1dcb40d0664d22d39de787b706b0fa69,True,True,5d1bbd8c8bdcfa6efb32fd8d,False,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,Tornado,2019-07-26T18:08:57.368Z,True,,GA,TORNADO
1,1953-05-15T00:00:00.000Z,,1958-01-01T00:00:00.000Z,2,DR,1953,61612cea5779e361b429799098974b6a,True,True,5d1bbd8c8bdcfa6efb32fd8e,False,1953-05-15T00:00:00.000Z,1953-05-15T00:00:00.000Z,Tornado,2019-07-26T18:08:57.370Z,True,,TX,TORNADO & HEAVY RAINFALL
2,1953-05-29T00:00:00.000Z,,1960-02-01T00:00:00.000Z,3,DR,1953,86f3e47785cb7acc51364d4535d36101,True,True,5d1bbd8c8bdcfa6efb32fd8f,False,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,Flood,2019-07-26T18:08:57.369Z,True,,LA,FLOOD
3,1953-06-09T00:00:00.000Z,,1956-03-30T00:00:00.000Z,6,DR,1953,2208518c84c44f8e4164248d47f89ead,True,True,5d1bbd8c8bdcfa6efb32fd92,False,1953-06-09T00:00:00.000Z,1953-06-09T00:00:00.000Z,Tornado,2019-07-26T18:08:57.369Z,True,,MI,TORNADO
4,1953-06-02T00:00:00.000Z,,1956-02-01T00:00:00.000Z,4,DR,1953,1dbe5937a01fc74c8e699912e3f555cb,True,True,5d1bbd8c8bdcfa6efb32fd91,False,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,Tornado,2019-07-26T18:08:57.370Z,True,,MI,TORNADO