## Import income data and combine with FEMA data

In [1]:
import pandas as pd

Read in clean data

In [39]:
disaster = pd.read_csv('./data/combined_clean.csv')

C:\Users\Rachel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
disaster.head()

,disaster_number,disaster_type,incident_type,incident_begin,incident_end,state,county,city,zipCode,valid_registration,...,inspect_greater_30000,approve_assistance,tot_approve_ihp_amt,repair_replace_amt,rental_amt,other_needs_amt,approve_1_10000,approve_10001_25000,approve_25001_max,tot_max_grants
0,4195,DR,Flood,2014-08-11,2014-08-13,MI,Macomb,CLINTON TWP,48036,8,...,0,4,21146.0,20899.0,0.0,247.0,3,1,0,0
1,4195,DR,Flood,2014-08-11,2014-08-13,MI,Macomb,RAY,48096,2,...,0,2,5094.0,2972.0,1692.0,430.0,2,0,0,0
2,4195,DR,Flood,2014-08-11,2014-08-13,MI,Macomb,CLINTON TWP,48038,14,...,1,3,3616.0,854.0,1692.0,1069.0,3,0,0,0
3,4195,DR,Flood,2014-08-11,2014-08-13,MI,Macomb,RICHMOND,48062,4,...,0,2,2760.0,2627.0,0.0,132.0,2,0,0,0
4,4195,DR,Flood,2014-08-11,2014-08-13,MI,Macomb,STERLING HTS,48310,5,...,0,0,0.0,0.0,0.0,0.0,0,0,0,0

In [41]:
disaster.shape

(90564, 27)

Read in income data that is listed by zip code

In [3]:
inc = pd.read_csv('../data/zip_median_mean.csv')

In [51]:
inc.duplicated().sum()

0

In [4]:
inc.head()

    Zip  Median    Mean     Pop
0  1001  56,663  66,688  16,445
1  1002  49,853  75,063  28,069
2  1003  28,462  35,121   8,491
3  1005  75,423  82,442   4,798
4  1007  79,076  85,802  12,962

There are zip codes where there is a leading zero that has been dropped. The below adds a leading zero where there are only four digits.

In [6]:
inc['Zip'] = inc['Zip'].apply(lambda x: '{0:0>5}'.format(x))

In [52]:
inc.head()

  zipCode  Median    Mean     Pop
0   01001  56,663  66,688  16,445
1   01002  49,853  75,063  28,069
2   01003  28,462  35,121   8,491
3   01005  75,423  82,442   4,798
4   01007  79,076  85,802  12,962

Rename zipcode column

In [9]:
inc.rename(columns={'Zip':'zip_code'}, inplace=True)

The datasets were not merging properly as the disaster zip code had a mix of numbers and strings. Converting all to string type.

In [79]:
disaster['zip_code'] = disaster['zip_code'].astype(str)

Combine the data sets

In [ ]:
comb_df = pd.merge(disaster, inc, on='zip_code', how='left')

Export the data to csv

In [93]:
comb_df.to_csv('../data/disaster_income.csv')